.footer p {
  margin-top: 10px;
  margin-bottom: 0;
}

.footer p a {
  font-weight: 400;
  color: #4e6e8e;
  transition: all 0.3s;
}

.footer p a:hover {
  color: red;
  text-decoration: underline;
}
