:root {
  --vp-c-brand-1: #3451b2;
  --vp-c-brand-2: #5a75d3;
  --vp-c-brand-3: #3451b2;
  --vp-c-brand-soft: rgba(52, 81, 178, 0.14);
}

.dark {
  --vp-c-brand-1: #5a75d3;
  --vp-c-brand-2: #3451b2;
  --vp-c-brand-3: #5a75d3;
  --vp-c-brand-soft: rgba(90, 117, 211, 0.16);
}
